*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}
.card {
  width: 37%;
  height: 350px!important;
  border-radius: 1em;
  padding: 1%;
  margin: 1%;
  background-color: #B1C3CF;
  img {
    width: 34%;
  }
}
.card-action {
  border-radius: 0 0 1em 1em;;
}
h1 {
  font-family: "adequate";
}
.sample {
  width: 30%;
  padding: 1%;
  &:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
  }
}
a {
  color: #808D9E;
}
