header {
  .headerName {
    font-family: "adequate";
    position: absolute;
    top: 32%;
    right: 19%;
    font-size: 4em;
    text-shadow: 3px 3px 6px #808D9E;
  }
  .headerDescription {
    font-family: "adequate";
    position: absolute;
    font-size: 1.5em;
    top: 39%;
    right: 18%;
    text-shadow: 3px 3px 6px #808D9E;
  }
}
