header {
  .headerName {
    font-family: "adequate";
    position: absolute;
    top: 28%;
    right: 18%;
    font-size: 4em;
    text-shadow: 2px 2px 4px #808D9E;
    -webkit-text-stroke: .5px #808D9E;
    background-color: white;
    padding: 3px;
    box-shadow: 3px 3px 4px grey;
  }
  .headerDescription {
    font-family: "adequate";
    position: absolute;
    font-size: 1.5em !important;
    top: 35%;
    right: 18%;
    text-shadow: 2px 2px 4px #808D9E;
    -webkit-text-stroke: .5px #808D9E;
    background-color: white;
    padding: 3px;
    box-shadow: 3px 3px 4px grey;
  }
}
