.navbar {
  list-style: none;
  position: fixed;
  z-index: 2;
  display: flex;
  right: 0;
  ul {
    display: flex;
    margin-top: 0;
    border-radius: 0 0 1em 1em;
    box-shadow: 1px 1px 3px grey;
    padding: 0 1.5% 1.5% 1.5%;
    .navAbout {
      border-radius: 0 0 0 .5em;
    }
    .navContact {
      border-radius: 0 0 1em 0;
    }
    li {
      margin-top: 0;
      padding: 5% 8% 5% 8%;
      background-color: white;
      opacity: .8;
      width: 110px;

    }
  }
}
