<div class="navbar">
  <ul>
    <li class="hvr-underline-from-left navAbout waves-effect">{{#scroll-to href="#about"}} About {{/scroll-to}}</li>
    <li class="hvr-underline-from-left waves-effect">{{#scroll-to href="#portfolio"}} Portfolio {{/scroll-to}}</li>
    <li class="hvr-underline-from-left navContact waves-effect">{{#scroll-to href="#contact"}} Contact {{/scroll-to}}</li>
  </ul>
</div>

{{outlet}}

<footer class="page-footer red accent-1">
  <div class="footer-copyright">
    <div class="container">
    © 2016 Sara Wagner
    <a class="grey-text text-lighten-4 right" href="https://www.linkedin.com/in/swagner23q" target="_blank">LinkedIn</a>
    </div>
  </div>
</footer>
