<span id="top"></span>

<header>
  <h1 class="headerName">Sara Wagner</h1>
  <p class="headerDescription">Junior UI/UX Designer and Developer</p>
</header>


{{md-parallax image="../assets/img/koiArt.jpg"}}

<div class="about container">
  <div class="row col s12">
    <h1>About</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    <div class="stacker">
      <div class="card small">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">Design</span>
        </div>
        <div class="card-content">
          <p>My design is simple, chic, modern, and clean. I stress a great deal of importance on how well everything flows. </p>
        </div>
        <div class="card-action">
          Design
        </div>
      </div>
      <div class="card small">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">Visual</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          Visual
        </div>
      </div>
      <div class="card small">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">Usability</span>
        </div>
        <div class="card-content">
          <p>How can my user get what they want with the least amount of searching? I emphasize a strong sense of practical usability and apply that with my designs.</p>
        </div>
        <div class="card-action">
          Usability
        </div>
      </div>
    </div>

  </div>
</div>

{{md-parallax image="../assets/img/coffeelaptop.jpg"}}
<div class="about container">
  <div class="row col s12">
    <h1>Portfolio Collection</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><br><br>
    <a href="#" target="_blank"> <img class="sample" src="../assets/img/casestudy.png"></a>
    <a href="http://hike-portland.herokuapp.com" target="_blank"> <img class="sample" src="../assets/img/hike.png"></a>
    <a href="http://crescendo-clothing.herokuapp.com/" target="_blank"> <img class="sample" src="../assets/img/crescendo.png"></a><br>
    <a href="http://swagner23q.github.io/beyondBasics/" target="_blank"> <img class="sample" src="../assets/img/beyondBasics.png"></a>
    <a href="http://swagner23q.github.io/ravelp" target="_blank"> <img class="sample" src="../assets/img/ravelp.png"></a>
    <a href="https://invis.io/UE78AOI7S" target="_blank"> <img class="sample" src="../assets/img/wowhead.png"></a>
  </div>
</div>
