<span id="top"></span>

<header>

  <span class="headerName animated fadeInUp">Sara Wagner</span>
  <p class="headerDescription animated fadeInUp">Junior UI/UX Designer and Developer</p>
  <div class="headerBand"></div>

</header>


{{md-parallax image="../assets/img/koiArt.jpg"}}

<div id="about" class="about container">
  <div class="row col s12">
    <h1>About</h1>
    Hello and welcome to my portfolio! I'm Sara and am a recent graduated from Epicodus, under the Design program. My language specialties are HTML, CSS, Sass, and Javascript. My determination matches none when it comes to design and styling. I don't take "it won't work" for an answer and set my eyes on the goal of solving any and all problems. I have a driving passion for design and am always looking for ways to improve my methods to add to my newfound knowledge of technology languages.<br><br>

    <div class="stacker">
      <div class="card small animated fadeInLeft">
          <p>My design is simple, chic, modern, and clean. I stress a great deal of importance on how well everything flows. Appreciation for aesthetics is what gets the user to stay.</p><br>
          <img class="hvr-pop" src="../assets/img/design.png">
          <h5>Design</h5>
      </div>
      <div class="card small animated fadeInLeft">
          <p>Details, details, details. Nothing makes a design come together quite like those minor. To ensure complete fluid usability, it is impearative to have the details.</p><br>
          <img class="visual" src="../assets/img/visual.png">
          <h5>Visual</h5>
      </div>
      <div class="card small animated fadeInLeft">
          <p>How can my user get what they want with the least amount of searching? I emphasize a strong sense of practical and efficient usability with my design for ease of use.</p><br>
          <img class="hvr-bounce-in" src="../assets/img/usability.png">
          <b><h5>Usability</h5></b>
      </div>
    </div>

  </div>
</div>

{{md-parallax image="../assets/img/coffeelaptop.jpg"}}

<div class="about container">
  <div class="row col s12">
    <h1 id="portfolio">Portfolio Collection</h1>
    <p>Here is a handful of my current best works. My passion is in the details. Each project I took with dedication in every pixel, just give me some good tunes and I'll make somethin</p><br><br>

    <div class="grid portHolder">
      <figure class="effect-layla hideme">
        <img src="../assets/img/casestudy.png" alt="case study"/>
        <figcaption>
          <p>A case study for my redesign of Wowhead.</p>
          <a href="http://swagner23q.github.io/caseStudy" target="_blank">View more</a>
        </figcaption>
      </figure>

      <figure class="effect-layla hideme">
        <img src="../assets/img/hike.png" alt="hike"/>
        <figcaption>
          <p>An application that shows hike trails and weather where I designed the user interface.</p>
          <a href="http://hike-portland.herokuapp.com" target="_blank">View more</a>
        </figcaption>
      </figure>
      <figure class="effect-layla hideme">
        <a href="http://crescendo-clothing.herokuapp.com/" target="_blank"> <img src="../assets/img/beyondBasics.png" alt="beyond basics CSS"/></a>
        <figcaption>
          <p>A CSS demonstration of flexbox and hover animations.</p>
          <a href="http://swagner23q.github.io/beyondBasics/" target="_blank">View more</a>
        </figcaption>
      </figure>
      <figure class="effect-layla hideme">
        <img src="../assets/img/crescendo.png" alt="crescendo"/>
        <figcaption>
          <p>An e-commerce website where I designed the user interface.</p>
          <a href="http://crescendo-clothing.herokuapp.com/" target="_blank">View more</a>
        </figcaption>
      </figure>
      <figure class="effect-layla last hideme">
        <img src="../assets/img/main.png" alt="wowhead redesign"/>
        <figcaption>
          <p>A redesign concept of the popular website and database: Wowhead.</p>
          <a href="https://invis.io/UE78AOI7S" target="_blank">View more</a>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
<div class="about container">
  <div class="row col s12">
    <br><br><br><br><br>
    <div class="separator"> </div>
    <br><br><br>
    <h1 id="contact">Contact Me</h1>
    <p><img class="sara" src="../assets/img/me.jpg" alt="sara wagner" /></p>
    <a href="../assets/resume.pdf" class="waves-effect waves-light btn" target="_blank">Download Resume</a>
    <p>Feel free to contact me anytime, I would love to chat with you!</p>
    <div class="contactBox">
      <p>Email: sara.wagner23q@gmail.com<br>
        LinkedIn: <a href="https://www.linkedin.com/in/swagner23q" target="_blank">Sara Wagner</a><br>
      Location: Portland, OR</p>
    </div>
    <br><br><br><br><br>
  </div>
</div>
